<h1 class="page-title h2">Welcome</h1>

<p>I started developing beatlib because I believe in rhythmically diverse music.</p>

<p>I think that one way to do this is by providing artists with a library of snippets, so that they can find inspiration, quickly experiment, and expand their knowledge of beat and rhythm.</p>

<p>The goal is for beatlib to be an easy to use service which allows you to upload and download MIDI files, browse and preview snippets of 'beats' from all different genres and cultures, maintain a library of favorites, and interact with other users. And so it is dubbed the 'open source midi beat library'.</p>

<p>This website is still under development, even though most of the features I had planned are implemented.</p>

<p>I am looking for some artists to help me with testing and creating a base library. If you're interested, or have feedback, please contact me at <a href="mailto:bryan@hyshka.com" title="Send me an email">bryan@hyshka.com</a>.</p>

<p>Regards,<br/>Bryan</p>

