<h1 class="page-title h2">Terms of Use</h1>

<h2 class="h3">Unlimited Commercial Use</h2>

<p>We try to make it clear that you may use all clipart from BeatLib even for unlimited commercial use. We believe that giving away our beats is a great way to share with the world our talents and that will come back around in a better form.</p>

<h2 class="h3">All Beats are Released into the Public Domain</h2>

<p>Each artist at BeatLib <a src="http://creativecommons.org/publicdomain/zero/1.0/">releases all rights</a> to the images they share at BeatLib. The reason is so that there is no friction in using and sharing images authors make available at this website so that each artist might also receive the same benefit in using other artists clipart totally for any possible reason.</p>