/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet
******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
    //18px, 1.125
    font-size: 112.5%;
}

#nav-beats {
  
  li {
    @include gallery(6 of 12);
  }
}

#nav-tags {
  //@include span(6);
}

#search {
  //@include span(6 last);
}

.user-avatar {
  float: left;
  margin-right: 1.5em;
}

.user-info {
  float: left;
}

/*********************
NAVIGATION STYLES
*********************/

.nav {}

	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				a {

					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {

					}
				}

				&:first-child {}
				&:last-child {}

				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */

			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

/*********************
POSTS & CONTENT STYLES
*********************/

.beat-user, .beat-favorites {
  .beat {
    //@include gallery(6 of 12); 
  }
}

/*********************
FOOTER STYLES
*********************/

