/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
    //24px, 1.5
    font-size: 150%;
    //background-color: $black;
}

/*********************
LAYOUT & GRID STYLES
*********************/

#container {
    //background-color: $body-bg;
    @include container(47.500em 12);
}

.narrow {
  @include container(30em 12 left);
  //@include span(8);
}

.wrap {
    padding: 0 1em;
}

.header {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#main-nav {
  @include span(8 last);
}


.beat-index {
  @include gallery(6 of 12);
}

#nav-beats {
  ul {
    li {
      @include gallery(3 of 12);
    }
  }
}

.beat-show {
  @include span(6);
}

#comments {
  @include span(6 last);
}

.hero {
  @include span(8);
}

#side-nav {
  @include span(4 last);
}

/*********************
HEADER STYLES
*********************/

.header {
  margin-top: .75em;
  margin-bottom: 4.5em;
}

#logo {
    
    a {
        
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

/*********************
NAVIGATION STYLES
*********************/

#menu-button {
  display: none;
}

#main-nav {
  display: block;
  position: relative;
  margin-top: 0;
  padding: 0;
  
  .nav {
    float: right;
  }
}

.nav {

	li {
      float: left;

		a {
            
            &:after {
				content: '';
			}
            
			&:hover, &:focus {
				//color: $white;
				text-decoration: underline;
			}
		}

		&:first-child {}
		&:last-child {}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {
            background-color: $nav-active;
        }
	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

.hero {
  padding-bottom: 3em;
}

.entry-content {
  
  .steps {
    //margin: 3em 0;
    
    li {
      @include gallery(4 of 12);
    }
  }
}

#side-nav {
  margin-top: 6em;
  padding-left: 1.5em;
}

#search, #nav-tags {
    margin-top: 0;
}

#comments {
    margin-top: 6em;
}


/*********************
FOOTER STYLES
*********************/

