/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/

$base-font-size: 18px !global;
$base-line-height: 13.5px !global;
@include establish-baseline;

html {
  @include adjust-leading-to(2);
}

/*********************
LAYOUT & GRID STYLES
*********************/

.header, #content, .footer {
	@include apply-side-rhythm-border(left, 0px, 1.5, 18px);
	@include apply-side-rhythm-border(right, 0px, 1.5, 18px);
}

.beat-index {
  //@include span();
  @include gallery(6 of 12);
}

#nav-beats {
  //@include span(6);
  ul {
    li {
      @include gallery(3 of 12);
    }
  }
}

#nav-tags {
  //@include span(3);
}

#search {
  //@include span(3 last);
}

.beat-show {
  @include span(6);
}

#comments {
  @include span(6 last);
}
/*********************
HEADER STYLES
*********************/

.header {}

#logo {
    @include span(3);
    @include leader(1.5, 18px);
    
    a {
        @include apply-side-rhythm-border(bottom, 0px, .75, 18px);
        
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

#nav-main {
  @include span(9 last);
  @include leader(1.5, 18px);
  text-align: right;
  
  .nav {
    display:inline-block;
  }
}

/*********************
NAVIGATION STYLES
*********************/

.nav {

	li {

		a {
			@include apply-side-rhythm-border(bottom, 0px, .75, 18px);
            
            &:after {
				content: '';
			}
            
			&:hover, &:focus {
				//color: $white;
				text-decoration: underline;
			}
		}

		&:first-child {}
		&:last-child {}
        
        &.menu-item-has-children {
			background: transparent;
			
		}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			background: white;
			@include apply-side-rhythm-border(left, 0px, 0, 18px);
			margin-top: 0;
			border: 1px solid #ccc;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {
            background-color: $nav-active;
        }
	}  /* end current highlighters */

} /* end .nav */

#nav-beats {
  
 
}



/*********************
POSTS & CONTENT STYLES
*********************/

#search, #nav-tags {
  @include leader(0, 18px);
}

#beats {
  //@include leader(6, 18px);
}

.beat {
  
  header {
    //@include span(9 last);

  }
  
  .audio {
    //@include span(3);

  }
  
  footer {
    
    .meta {
      
    }
  } 
}

#comments {
  @include leader(6, 18px);
}

/*********************
FOOTER STYLES
*********************/

