/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet
******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
    font-size: 100%;
	line-height: 1.4;
	font-family: $sans-serif;
	color: $body-fg;
    background-color: $body-bg;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
    padding: 0 .5em;
}

#logo {
  @include span(4);
}

#menu-button {
  @include span(8 last);
}

.no-js {
    #logo {
        @include span(12);
    }
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
  text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
      text-decoration: underline;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
    font-size: 2.5em;
	line-height: 1.2em;
}

h2, .h2 {
    font-size: 1.75em;
	line-height: 1.2em;
	//margin-bottom: 0.375em;
}

h3, .h3 {
    font-size: 1.125em;
    line-height: 1.5em;
}

h4, .h4 {
    font-size: 1.1em;
    line-height: 1.5em;
	font-weight: 700;
}

h5, .h5 {
    font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
  margin-bottom: 1.5em;
}

#logo {
  margin: 0;
  
  a {
    display: block;
    text-decoration: none;
    padding: 0.5em;
  }
}

/*********************
NAVIGATION STYLES
*********************/

#menu-button {  
  .nav {
    float: right;
  }
}

.no-js {
  #menu-button {
      display: none;
  }
  
  #main-nav {
    display: block;
  }
}

#main-nav {
  display: none;
  position: absolute;
  top:0;
  left:0;
  margin-top: 2.5rem;
  padding: .375em .5em;
  background-color: #fff;
  z-index: 10;
  width: 100%;
}

#main-nav.active {
  display: block;   
}

.nav {
	margin: 0;

	li {
      position: relative;

		a {
			display: block;
			text-decoration: none;
			padding: 0.5em;
		}

		&:first-child {}

		&:last-child {}

	} /* end .menu li */

} /* end .nav */

#nav-beats {
    margin-bottom: 1.5em;

  ul {
   margin: 0;

   li {
     @include gallery(6 of 12);
      margin-bottom: .75em;
     position: relative;

     #tags {
       li {
         @include span(12);
         @include trailer(0, 14px);
         display: block;
         a {
           @include rhythm-borders(0px, .25, 14px);
         }
       }
     }
   }
 }
}

#nav-tags {
  ul {
   margin: 0;
   li {
   }
 }
}

#nav-tags, #search {
  @include trailer(1.5, 14px);
}

#tags {
  background-color: darken(white, 12%);
  position: absolute;
  z-index: 99;
  width: 100%;
  @include box-sizing(border-box);
  @include trailer(1.5, 14px);
  display: block;
  overflow: hidden;
  @include opacity(0);
  max-height: 0;
  @include transition(all .5s ease-in-out);

  .sort-tag {
    color: $black; 
  }

  &.active {
    @include opacity(1);
    max-height: 30em;
  }
}

.nav-search-btn {
  @include box-sizing(border-box !important);
  color: $body-fg !important;
}

/*********************
POSTS & CONTENT STYLES
*********************/

.hero {
  padding-bottom: 1.5em;
  
  .page-title {
    margin-bottom: 0;
  }
  
  .hero-text {
    font-size: 1.5em;
    margin-top: .75em;
    margin-bottom: .75em;
  }
  
  p {
    margin: 1.5em 0;
  }
}

#side-nav {
  font-size: .9em;
  
  ul {
    padding: 0;
    margin: 0;
    
    li {
      text-indent: 0;
      margin-bottom: .375em;
    }
  }
}

#beats {
    margin-top: 3em;
}

p, ul, ol {
    margin: 0 0 1.5em;
}

#content {

}

.beat-index, .beat-show {
  .audio, .download-btn, .user-avatar {
    float: left;
  }


}

.beat-index {
  .beat-title {
    @include leader(0, 16px);
    @include trailer(.5, 16px);
  }
}

.beat {
  @include trailer(2.25, 14px);

  header {
    @include trailer(.75, 14px);

    .play-pause-btn, .download-btn {
      margin-right: .5em;
      height: 70px;
      width: 70px;
      line-height: 70px;
      span {
        //line-height: 70px;
      }
    }

    .user {
      margin: 0;
    }

    .tag {
      //@include leader(.325, 14px);
      //@include trailer(.325, 14px);
    }
  }
}

.beat-show {
  header {
    @include trailer(1, 14px);

    .beat-title {
      @include trailer(2, 20px);
    }
  }
}

.meta {
  @include leader(.75, 14px);
  @include trailer(0, 14px);

  .meta-btn {
    margin-left: .25em;
  }
  .tag {
    margin-left: 0;
  }
  .download {

  }
  .favorite {
    margin-left: .25em;
    .meta-btn {
      margin-left: 0;
    }
  }
}

.user-info, .user-avatar {
  @include leader(0, 14px);
  @include trailer(1.5, 14px);
}

#user-beats, #user-favorites {
  li {
    @include trailer(1, 14px);

    h3 {
      @include trailer(.5, 14px);
    }
  }
}

/* post meta */
.byline {
    font-style: italic;
    margin-top: .75em;
    margin-bottom: 0;
    font-size: .75em;
}

.page-title {
  //margin-bottom: 0em;
}

/* content */
.entry-content {

    ul, ol {
        padding-left: 1.125em;
        margin-left: 1.5em;

        li {
            text-indent: -1.125em;
        }

        ol,ul {
            padding-left: 3em;
            margin: 0;
        }

    }

    ul {
        list-style: disc inside none;
    }

    ol {
        list-style: decimal inside none;

        ol {
            list-style: upper-alpha inside;

            ol {
                list-style: lower-roman inside;
            }
        }

    }
  
  .steps {
    margin: 1.5em 0;
    padding-left: 0;
    list-style-type: none;
    text-align: center;

    li {
      text-indent: 0;
      margin-bottom: 1.5em;
      
      span {
        display: block;
        margin-bottom: .125em;
        //color: $sec;
      }
      
      &:last-child {
        margin: 0;
      }
    }
  }
  
  .cta {
    text-align: center;
    margin-bottom: .75em;
  }
  
  .cta-byline {
    text-align: center;
    font-size: .9em;
    margin-bottom: 1.5em;
  }

} /* end .entry-content */

img {
  //@include trailer(1, 14px);
  max-width: 100%;
  height: auto;
  vertical-align: top;
  display: block;
  border-radius: 6px;
}

a img {
  @include transition(opacity 0.2s ease-in-out);
  position: relative;

  &:hover {
      @include opacity(0.75);
  }

  // clicking on the image anchor
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active
}

/******************************************************************
COMMENT STYLES
******************************************************************/

.comment {
  @include trailer(2, 14px);

  header {
    @include trailer(1, 14px);

    .avatar, .comment-meta {
      float: left;
      margin-right: .5em;
    }

    .user {
      @include leader(0, 14px);
      @include trailer(0, 14px);
    }
  }

  .delete-comment {
    font-size: .75em;
  }
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

#pagination {
  float:left;
  position:relative;
  left:50%;
}

.pagination {
  @include leader(0, 14px);
  @include trailer(1.5, 14px);
  text-align: center;
  float:left;
  position:relative;
  left:-50%;

  ul {
    display: block;
    //background-color: $white;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border-radius: 3px;
  }

  li {
    padding: 0;
    margin: 0;
    float: left;
    display: inline-block;
    overflow: hidden;
    border-right: 1px solid;

    & > a, & > span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      font-weight: normal;
      @include rhythm-borders(0px, .5, 14px);
      min-width: 2.25em;
      display: inline-block;

      &:hover, &:focus {
        background-color: $black;
        color: $white;
      }
    }
    &.current, &.disabled {
      & > a, & > span {
        cursor: default;
        //color: $text-color;

        &:hover, &:focus {
          background-color: $white;
          color: $body-fg;
        }
      }
    }
    &:last-child {
      border-right: 0;
    }
  }
} /* end .pagination */

/*********************
FOOTER STYLES
*********************/

.footer {
  clear: both;
  margin: 1.5em 0;
  
  .dev {
    margin-bottom: 3em;
  }
}
