/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $black;
  @include adjust-font-size-to(14px);
  font-weight: normal;
  @include trailer(0, 14px);
  //height: auto;
  @include rhythm-borders(1px, 0, 14px);
  @include apply-side-rhythm-border(left, 1px, .5, 14px);
  @include apply-side-rhythm-border(right, 1px, .5, 14px);
  border-radius: 6px;
  border-color: lighten( $black, 54% );
  box-shadow:inset 0px 1px 0px 0px white;
  text-shadow:1px 1px 0px white;
  width: 100%;
  text-align: center;
  cursor: pointer;
  @include transition(all 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $black;
    text-decoration: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

.btn {
  @extend %btn; // here we load the btn defaults
  background-color: lighten(black, 12%);

  &:hover,
  &:focus {
    background-color: lighten(black, 9%);
  } // end hover

  &:active {
    background-color: lighten(black, 6%);
  } // end active
} // end black button

.nav-beats-btn, .nav-tags-btn, #search .nav-search-btn {
  @extend %btn; // here we load the btn defaults
  @include css-gradient( darken(white, 0%), darken(white, 5%) );
  @include rhythm-borders(1px, .125, 14px);
  @include apply-side-rhythm-border(left, 1px, .5, 14px);
  @include apply-side-rhythm-border(right, 1px, .5, 14px);
  
  &:hover,
  &:focus {
    @include css-gradient( darken(white, 5%), darken(white, 0%) );
  } // end hover

  &:active {
    //background-color: darken(white, 6%);
  } // end active
}

.play-pause-btn {
  @extend %btn; // here we load the btn defaults
  background-color: lighten(black, 24%);
  @include rhythm-borders(0px, 0, 16px);
  color: $white;
  box-shadow:inset 0px 1px 0px 0px black;
  text-shadow:1px 1px 0px black;
  
  &:hover,
  &:focus {
    color: $white;
    background-color: lighten(black, 12%);
  } // end hover

  &:active {
    background-color: lighten(black, 6%);
  } // end active
}

.download-btn {
  @extend %btn; // here we load the btn defaults
  background-color: darken(white, 24%);
  color: $black;
  @include rhythm-borders(0px, 0, 16px);
  
  &:hover,
  &:focus {
    background-color: darken(white, 12%);
    color: $black;
  } // end hover

  &:active {
    background-color: darken(white, 6%);
  } // end active
}

.meta-btn, input[type="submit"] {
  @extend %btn; // here we load the btn defaults
  @include css-gradient( darken(white, 0%), darken(white, 5%) );
  width: auto;
  
  &:hover,
  &:focus {
    @include css-gradient( darken(white, 5%), darken(white, 0%) );
  } // end hover

  &:active {
    //@include css-gradient( darken(white, 6%), darken(white, 6%) );
  } // end active
}

.delete-btn {
  @extend %btn; // here we load the btn defaults
  @include css-gradient( darken(white, 0%), darken(white, 5%) );
  width: auto;
  @include adjust-font-size-to(12px, 1);
  //@include rhythm-borders(1px, 0, 12px);
  @include apply-side-rhythm-border(left, 1px, .5, 12px);
  @include apply-side-rhythm-border(right, 1px, .5, 12px);
  
  &:hover,
  &:focus {
    @include css-gradient( darken(white, 5%), darken(white, 0%) );
  } // end hover

  &:active {
    //@include css-gradient( darken(white, 6%), darken(white, 6%) );
  } // end active
}

.cta-btn {
  @extend %btn; // here we load the btn defaults
  @include css-gradient( darken(white, 0%), darken(white, 5%) );
  width: auto;

  &:hover,
  &:focus {
    background-color: lighten(black, 9%);
  } // end hover

  &:active {
    background-color: lighten(black, 6%);
  } // end active
} // end black button