<%= link_to download_beat_path(beat.id), remote: true, class: "meta-btn button secondary tiny", title: "Download #{beat.title}" do %>
<span class="fa fa-download"></span>&nbsp;<%= beat.downloads %><% end %>