<% if selected_tag %>
  <%= link_to "#{selected_tag.titleize} Beats", "#", class: "button small dropdown secondary", data: { dropdown: "drop1" } %>
<% else %>
  <%= link_to "All Beats", "#", class: "button small dropdown secondary", data: { dropdown: "drop1" } %>
<% end %>
  
<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
  <li><%= link_to "All Beats", beats_path(tag: "all"), remote: false %></li>
  
  <% ActsAsTaggableOn::Tag.most_used(10).each do |tag| %>
    <li><%= link_to tag.name.titleize, beats_path(tag: tag.name), remote: false %></li>
  <% end %>
</ul>