<div class="small-12 columns">

  <h1>New Beat</h1>
  
  <%= form_for @beat do |f| %>

    <%= render partial: 'form', locals: {f: f} %>

    <p>
      <%= f.submit "Upload Beat", class: "button radius" %>
    </p>
  
  <% end %>
  
</div>