/******************************************************************
Site Name:
Author:

Stylesheet: Variables
******************************************************************/

// Compass

$default-rhythm-border-style: solid;

// Susy Grid

$susy: (
	math: fluid,
	columns: 12,
	gutter-position: after,
	gutters: 1/2,
	column-width: false,
	debug: (
	    image: hide,
	    color: rgba(#66f, .25),
	    output: background,
	    toggle: top right,
	),
);

/*********************
COLORS
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #41453f;
$white:             #f5f4ed;

$blue:              #1c5991;
$dark-blue:         #104472;
$darker-blue:       #063259;

$sec:               #149766;

$light-gray:        darken($white, 3%);
$gray:              darken($white, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

$link-color:        $blue;
$link-hover:        #104472;

$body-fg:			$black;
$body-bg:			#fff;

$nav-bg:			lighten($white, 6%);
$nav-border:		darken($white, 9%);
$nav-shadow:		darken($white, 18%);
$nav-hover:			$light-gray;
$nav-active:		$nav-hover;

$blockquote-border: $black;
$blockquote-quote:  $black;

$gal-img-bg:		$body-bg;
$gal-img-border:	$nav-border;
$gal-img-shadow:	$nav-shadow;

$form-bg:           lighten($white, 6%);
$form-bg-active:    $light-gray;
$form-fg:           $black;

